<!DOCTYPE html>
    <html>
    <head>
    	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    	<script type="text/javascript" src="{{ url_for('static', filename='chicago.js') }}"></script>
    	{{ city_map.js }}
		
    </head>
    <body align="center">
    	

        <h1>Chicago</h1>
		        
        <div id="map">{{ city_map.html }}</div>
        
        <div class="dropdown">
			<select id="myDropdown" onchange="changeOption()">
			  		<option value=0 selected="selected">Select</option>
					 {% for i, t in date_dropdown %}
					<option value={{ t }}>{{ t }}</option>
				    {% endfor %}
		    	</select>
		</div>
    </body>
</html>