<!DOCTYPE html>
    <html>
    <head>
    	{{ city_map.js }}
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<script src="{{ url_for('static', filename='map.js') }}"></script>
		<script src="{{ url_for('static', filename='jquery-3.1.1.js') }}"></script>
    </head>
    <body align="center">

        <h1>Chicago</h1>
		        
        <div id="map">{{ city_map.html }}</div>
        
        <div class="dropdown">
			<button onclick="dateDropdown()" class="dropbtn">Dropdown</button>
				<div id="myDropdown" class="dropdown-content">
			  		{% for i, t in date_dropdown %}
					 <a href="{{ url_for('chicago_dt', dt_filter=t) }}">{{ t }}</a>
				    {% endfor %}
		    	</div>
		</div>
    </body>
</html>