body {
	font-family: Helvetica
}

#map {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    float: left;
}

 #view-side { 
 	height:800px;
 	width:600px;
 	margin:0; 
 }